# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment folder (if using virtualenv)
venv/
.env/

# IDE/Editor specific files (for example, VSCode, PyCharm)
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

